.LoginContainer{
    width: 400px;
    margin: auto;
    margin-top: 10vh;
    background-color: lightblue;
    height: 400px;
}
.LoginContainer input{
  width: 80%;
  margin: 5% 10%;
  border: none;
  height: 45px;
  outline: none;
  padding: 10px;
  border-radius: 5px;

}
.LoginContainer input:focus {
    border: 2px solid rgb(83, 83, 148); /* Set the border style on focus */
  }
.LoginContainer button{
    width: 20%;
    margin: 2% 40%;
}
h3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10%;
    padding-bottom: 5%;
}
.signupLink {
  width: 80%;
  margin: 0% 10%;
}

.signupLink p {
  color: black;
  font-family: cursive;
}

.link {
  text-decoration: none;
}

.signupLink span {
  text-decoration: underline;
  color: blue;
}